.date{
border-left-style: solid;
border-left-width: 15px;
}
.hotel-list{
    width: 600px;
    padding: 5px;
    border: 1px solid #DCDCDC;
    border-bottom-style: 10px double #DCDCDC;
}
.image{
    height: auto;
    width:100%;
}
.hotel-detail{
    width: 400px;
    padding: 5px;
    border: 1px solid #DCDCDC;  
}
.hotel-name{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
#stars{
    padding-top: 5px;
    font-size: 5px;
}
.price-details{
    width: 100px;
    padding: 5px;
    border: 1px solid #DCDCDC; 
    padding-left: 5px;
    height: 150px;
}
.price{
    padding-top: 10px;
    font-size: 20px;
    color: green;
    text-align: center;
}
.all-details{
    width: 800px;
    height: auto;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid #DCDCDC; 
}
#sort{
    float: right;
    padding-bottom: 10px;
}
.loading{
    display: none;
    text-align: center;
    font-size: 30px; 
}
.load{
    width: 500px;
    height: 200px;
}
.review{
    width: 340px;
    padding: 5px;
    border: 1px solid #DCDCDC; 
}
.emo-sm,
.emo-gr,
.emo-sad{
    width: 10%;
    height: auto;
}
.ft-emo-sm,
.ft-emo-gr,
.ft-emo-sad{
    width: 25px;
    height: auto;
    cursor:pointer;
    margin: 0;
}
.guest-rating{
    font-weight: bold;
    font-size: 20px; 
}
.guestreviewcount{
    font-size: 15px;
}
#map{
    width: 800px;
    height: 100%;
}
#map_canvas{
    width: 100%;
    height: 100%;
}
.iw-title{
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
.iw-emo-sm,
.iw-emo-gr,
.iw-emo-sad{
    width: 10%;
    height: auto;
}
.iw-address{
    padding-top: 5px;
    font-family: "Times New Roman", Times, serif;  
}
.iw-image{
    padding-top:5px;
    height: auto;
    width:100%;
    padding-left: 50px;
}
.tit-border{
    width: 480px;
    padding: 5px;
    border: 1px solid #DCDCDC;
    background-color: #DEF5FF;   
}
.deal{
    width: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.glyphicon-chevron-right{
    padding-left: 20px;
}
.deal-fit{
    padding-top: 45px;
}
.iw-price{
    font-weight: bold;
    font-style: italic;
    padding-right: 10px;
}
.iw-deal{
    border-top: 10px;
}
.filters{
    width: 300px;
    height: 700px;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid #DCDCDC;  
}
.ft-ratings{
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
#dvMap{
    height: 380px; 
    width: 580px;
}
#dialog{
    display: none;
}
#error{
    color: red;
    display: none;
}
.ft-options{
    padding-bottom: 5px;
    font-weight: bold;
}
#smile,
#granny,
#sad{
    width: 15%;
    height: auto;
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
}
.highlight{
    opacity: 0.3;
}
.rating-stars{
    width: 20px;
    height: auto; 
}
.ft-star{
    width: 15px;
    height: auto;
    margin: 0;
}
#reset{
    margin-left: 80px;
    margin-bottom: 10px;
}
